*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared styles */

.dark-2{
    color: #3A3A3A;
}

/* navbar styles */
.title h3{
    font-size: 24px;
}
.nav-title{
    display: flex;
    justify-content: space-between;
    margin: 60px 120px;
}
.nav-item{
    display: flex;
    list-style: none;
    gap: 40px;
}
.nav-item a{
    text-decoration: none;
}
/* banner1 styles */
.banner1{
    display: flex;
    justify-content: space-between;
}